@using Phoneden.ViewModels
@model Phoneden.ViewModels.CategoryViewModel

@{
  ViewBag.Title = "Add Category";
}

<div class="page-title">
  <h3>Add Category</h3>
</div>

@Html.EditorFor(m => m)

@section Scripts {
  @{   await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
