@using Phoneden.ViewModels
@model Phoneden.ViewModels.AddressViewModel

@{
  ViewBag.Title = "Add New Address";
}

<div class="page-title">
  <h3>Add Address</h3>
</div>

@Html.EditorFor(m => m)

@section Scripts {
}
