@using Phoneden.ViewModels
@model Phoneden.ViewModels.PartnerViewModel

@{
  ViewBag.Title = "Add Partner";
}

<div class="page-title">
  <h3>Add Partner</h3>
</div>

@Html.EditorFor(m => m)

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
