@using Phoneden.ViewModels.SaleOrders
@model Phoneden.ViewModels.SaleOrders.SaleOrderViewModel

@{
  ViewBag.Title = "Delete Sale Order #" + @Model.Id;
}

<div class="page-title">
  <h3>Delete Sale Order</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <h2 class="all-caps">Delete Sale Order <span class="semi-bold">#@Model.Id</span>?</h2>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
          <div class="alert alert-block alert-error fade in">
            <h4 class="alert-heading">Sorry!</h4>
            <p>@ViewBag.ErrorMessage</p>
          </div>
        }
        else
        {
          <p>Are you sure you want to delete Sale Order  #@Model.Id?</p>
        }
      </div>
    </div>
  </div>

  <div class="col-md-12">
    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
      <form asp-controller="SaleOrder" asp-action="Delete" method="post" role="form">
        <input asp-for="Id" type="hidden" />

        <input type="submit" value="Yes, Delete" class="btn btn-danger pull-right" />
        <a asp-controller="SaleOrder"
           asp-action="Page"
           asp-route-showDeleted="false"
           class="btn btn-default pull-right">
          No, Go Back
        </a>
      </form>
    }
    else
    {
      <a asp-controller="SaleOrder"
         asp-action="Page"
         asp-route-showDeleted="false"
         class="btn btn-default pull-right">
        Ok, Go Back
      </a>
    }
  </div>
</div>
