@model Phoneden.ViewModels.PurchaseOrders.PurchaseOrderViewModel

@{
  ViewBag.Title = "New Purchase Order";
}

<div class="page-title">
  <h3>New Order From Supplier</h3>
</div>

@Html.EditorFor(m => m)

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  <script src="~/lib/jquery-autocomplete/jquery.autocomplete.min.js"></script>
  <script src="~/js/conversion-rate.js"></script>
  <script src="~/js/purchase-orders.js"></script>
}
