@{
    ViewData["Title"] = "Dashboard";
}

<div class="content">
  <div class="page-title">
    <h3>Dashboard</h3>
  </div>
  <h2>This is an Orders Management System. It deals with both <strong>Purchase Orders</strong> and <strong>Sale Orders</strong>.</h2>
</div>
