@using Phoneden.ViewModels
@model Phoneden.ViewModels.QualityViewModel

@{
  ViewBag.Title = "Delete " + @Model.Name + " Quality";
}

<div class="page-title">
  <h3>Delete Quality</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <h2 class="all-caps">Delete <span class="semi-bold">@Model.Name</span> Quality?</h2>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
          <div class="alert alert-block alert-error fade in">
            <h4 class="alert-heading">Sorry!</h4>
            <p>@ViewBag.ErrorMessage</p>
          </div>
        }
        else
        {
          <p>Are you sure you want to delete the @Model.Name quality?</p>
        }
      </div>
    </div>
  </div>

  <div class="col-md-12">
    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
      <form asp-controller="Quality" asp-action="Delete" method="post" role="form">
        <input asp-for="Id" type="hidden"/>
        <input type="submit" value="Yes, Delete" class="btn btn-danger pull-right"/>
        <a asp-controller="Quality"
           asp-action="Page"
           asp-route-showDeleted="false"
           class="btn btn-default pull-right">
          No, Go Back
        </a>
      </form>
    }
    else
    {
      <a asp-controller="Quality"
         asp-action="Page"
         asp-route-showDeleted="false"
         class="btn btn-default pull-right">
        Ok, Go Back
      </a>
    }
  </div>
</div>
