@using Phoneden.ViewModels
@model Phoneden.ViewModels.QualityViewModel

@{
  ViewBag.Title = "Update " + Model.Name;
}

<div class="page-title">
  <h3>Update Quality</h3>
</div>

@Html.EditorFor(m => m)

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
