@using Phoneden.ViewModels
@model Phoneden.ViewModels.PurchaseOrderInvoiceViewModel

@{
  ViewBag.Title = "Create Purchase Order Invoice";
}

<div class="page-title">
  <h3>Create New Invoice</h3>
</div>

@Html.EditorFor(m => m)

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  <script src="~/js/create-invoice-credit.js"></script>
}
