@model Phoneden.ViewModels.PurchaseOrderInvoiceDetailsViewModel

@{
  ViewBag.Title = "Purchase Order Invoice";
}

<div class="page-title">
  <h3>Purchase Order Invoice</h3>
</div>

@Html.DisplayFor(m => m)
