@model Phoneden.ViewModels.PurchaseOrderInvoiceDetailsViewModel

@{
  ViewBag.Title = "Purchase Order Invoice";
}

<div class="page-title">
  <h3>Purchase Order Invoice</h3>
</div>

@if (Model.Invoice.IsDeleted)
{
  <div class="alert alert-error">
    <strong>Please note, this invoice is deleted.</strong>
  </div>
}

@Html.DisplayFor(m => m)
