@using Phoneden.Entities.Shared
@using Phoneden.Entities
@model Phoneden.ViewModels.SaleOrderInviocePaymentViewModel

<form asp-controller="SaleOrderPayment" asp-action="@(Model.Id == 0 ? "Create" : "Edit")" method="post" role="form">
  <div asp-validation-summary="All" class="text-danger"></div>
  <input asp-for="InvoiceId" type="hidden" />

  @if (Model.Id != 0)
  {
    <input asp-for="Id" type="hidden" />
  }

  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body no-border">
          <br>
          <div class="row">
            <div class="col-md-12">
              <h3 class="all-caps">
                <span class="semi-bold">Money</span> Details
              </h3>
              <hr />
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label asp-for="Date" class="form-label"></label>
                    <div class="controls">
                      <div class="input-group">
                        <input asp-for="Date" class="form-control" />
                        <span class="input-group-addon"><i class="far fa-calendar-alt"></i></span>
                        <span asp-validation-for="Date" class="text-danger"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label asp-for="Method" class="form-label"></label>
                    <div class="controls">
                      <select asp-for="Method" asp-items="Html.GetEnumSelectList<PaymentMethod>()" class="form-control">
                        <option>Select a method</option>
                      </select>
                      <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label asp-for="Amount" class="form-label"></label>
                    <div class="controls">
                      <input asp-for="Amount" class="form-control" />
                      <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label asp-for="Currency" class="form-label"></label>
                    <div class="controls">
                      <select asp-for="Currency" asp-items="Html.GetEnumSelectList<Currency>()" class="form-control">
                        <option>Select a currency</option>
                      </select>
                      <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <input type="submit" value="@Model.ButtonText" class="btn btn-primary pull-right" />
      <a asp-controller="SaleOrderInvoice"
         asp-action="page"
         asp-route-showDeleted="false"
         class="btn btn-default pull-right">
        Back to Invoices
      </a>
    </div>
  </div>
</form>
