@using Phoneden.ViewModels
@model Phoneden.ViewModels.QualityViewModel

<form asp-controller="Quality" asp-action="@(Model.Id == 0 ? "Create" : "Edit")" method="post" role="form">

  @if (Model.Id != 0)
  {
    <input asp-for="Id" type="hidden"/>
  }

  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body no-border">
          <br>
          <div class="row">
            <div class="col-md-12">
              <h3 class="all-caps">
                <span class="semi-bold">Quality</span> Details
              </h3>
              <hr/>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <div class="controls">
                  <input asp-for="Name" class="form-control" />
                  <span asp-validation-for="Name" class="text-danger"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <input type="submit" value="@Model.ButtonText" class="btn btn-primary pull-right" />

      <a asp-controller="Quality"
         asp-action="Page"
         asp-route-showDeleted="false"
         class="btn btn-default pull-right">
        Back to Qualities
      </a>
    </div>
  </div>
</form>
